<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 抹除压缩的 JSON 中的密码、身份证和手机号，右花括号和冒号须转义，XML 不允许的字符也须转义 -->
	<!-- (?i)(?<="password":")(.*?)(?="[,}]) -->
	<!-- (?i)(?&lt;=&quot;password&quot;\:&quot;)(.*?)(?=&quot;[,\}]) -->
	<variable name="wipePasswords" value="${replace:inner=${message:withexception=true}:searchFor=(?i)(?&lt;=&quot;password&quot;\:&quot;)(.*?)(?=&quot;[,\}]):replaceWith=&lt;已抹除&gt;:regex=true}" />
	<variable name="wipeSensitives" value="${wipePasswords}" />

	<targets>
		<target name="logconsole" xsi:type="ColoredConsole" layout="${time} ${wipeSensitives}" />
		<target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${wipeSensitives}" fileName="${gdc:logPath:whenEmpty=${baseDir}/logs/${shortdate}.log}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>

</nlog>
